/*inicios de estilos para la plantilla principal*/

nav {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  /*fin de estilos para la plantilla principal --------------------------------------------------------------------------------------*/