{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <link
      href="{% static 'preventa/css/home.css' %}"
      rel="stylesheet"
      type="text/css"
    />

    <title>Preventas</title>
  </head>
  <body>
    <!--navbar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Logo</a>

      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="">Preventas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'addInfo'%}"
            >Ingresar Detalles de Preventas</a
          >
        </li>
      </ul>

      <!-- Aquí se encuentra el último elemento alineado a la derecha -->
      <ul class="navbar-nav">
        <!-- Button trigger modal -->
        <button
          type="button"
          class="btn btn-primary"
          data-toggle="modal"
          data-target="#ingresarCliente"
        >
          Ingresar Cliente
        </button>
      </ul>

      <ul class="navbar-nav">
        <!-- Button trigger modal -->
        <button
          type="button"
          class="btn btn-primary"
          data-toggle="modal"
          data-target="#ingresarPreventas"
        >
          Ingresar Preventa
        </button>
      </ul>
    </nav>
    <!--navbar-->

    <!--formulario ingreso de preventa (Modal) -->
    <div
      class="modal fade"
      id="ingresarPreventas"
      tabindex="-1"
      role="dialog"
      aria-labelledby="ingresarPreventas"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="ingresarPreventas">
              Ingreso de Preventa
            </h5>
          </div>

          <form action="{% url 'ingresar_proyecto' %}" method="POST">
            {% csrf_token %} {{ PreventaForm.as_p }}
            

            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Cerrar
              </button>
              <button type="submit" class="btn btn-primary">
                Guardar cambios
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!--End formulario ingreso de preventa (Modal) -->

    <!--formulario ingreso de cliente (Modal) -->
    <div
      class="modal fade"
      id="ingresarCliente"
      tabindex="-1"
      role="dialog"
      aria-labelledby="ingresarCliente"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="ingresarCliente">Ingreso de Cliente</h5>
          </div>

          <form method="POST">
            {% csrf_token %} 
            {{ ClienteForm.as_p }}
            <button type="submit" class="btn btn-primary">
              Guardar cambios
            </button>

            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Cerrar
              </button>
            </div>
          </form>

          
        </div>
      </div>
    </div>
    <!--End formulario ingreso de cliente  (Modal) -->

    <div class="container">
      {% block content %} Tablas Preventas {% endblock %}
    </div>

    

    <footer>
      <p>&copy; 2024 - Todos los derechos reservados</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
