{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <link
      href="{% static 'preventa/css/home.css' %}"
      rel="stylesheet"
      type="text/css"
    />

    <title>Preventas</title>
  </head>
  <body>
    <!--navbar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Logo</a>

      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{%url 'preventa'%}">Teknica</a>
        </li>

        <li class="nav-item text-danger">
          {% if user.is_authenticated %}
          <p>
            Bienvenido, {{ user.username }}. Has iniciado sesión correctamente.
          </p>
        </li>
        <li class="nav-item text-danger bg-dark">
          <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Cerrar sesión</button>
          </form>
          {% else %}
          <p>No has iniciado sesión.</p>
          <a href="{% url 'login' %}">Iniciar sesión</a>
          {% endif %}
        </li>
      </ul>

      <!-- Aquí se encuentra el último elemento alineado a la derecha -->
      <ul class="navbar-nav">
        <!-- Button trigger modal -->
        <button
          type="button"
          class="btn btn-primary"
          data-toggle="modal"
          data-target="#ingresarCliente"
        >
          Ingresar Cliente
        </button>
      </ul>

      <ul class="navbar-nav">
        <!-- Button trigger modal -->
        <button
          type="button"
          class="btn btn-primary"
          data-toggle="modal"
          data-target="#ingresarPreventas"
        >
          Ingresar Preventa
        </button>
      </ul>

      <ul class="navbar-nav">
        <!-- Button trigger modal -->
        <button
          type="button"
          class="btn btn-primary"
          data-toggle="modal"
          data-target="#ingresarItem"
        >
          Ingresar item
        </button>
      </ul>
    </nav>
    <!--navbar-->

    <!--formulario ingreso de preventa (Modal) -->
    <div
      class="modal fade"
      id="ingresarPreventas"
      tabindex="-1"
      role="dialog"
      aria-labelledby="ingresarPreventas"
      aria-hidden="true">

      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="ingresarPreventas">
              Ingreso de Preventa
            </h5>
          </div>

          <form method="POST">
            {% csrf_token %} {{ PreventaForm.as_p }}
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Cerrar
              </button>
              <button
                type="submit"
                class="btn btn-primary"
                name="submit_preventa"
              >
                Guardar cambios
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!--End formulario ingreso de preventa (Modal) -->

    <!--formulario ingreso de cliente (Modal) -->
    <div
      class="modal fade"
      id="ingresarCliente"
      tabindex="-1"
      role="dialog"
      aria-labelledby="ingresarCliente"
      aria-hidden="true">

      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="ingresarCliente">Ingreso de Cliente</h5>
          </div>
          <form method="POST">
            {% csrf_token %} {{ ClienteForm.as_p }}
            <button type="submit" class="btn btn-primary" name="submit_cliente">
              Guardar cambios
            </button>

            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Cerrar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!--End formulario ingreso de cliente  (Modal) -->

    <!--formulario item  (Modal) -->
    <div
      class="modal fade"
      id="ingresarItem"
      tabindex="-1"
      role="dialog"
      aria-labelledby="ingresarItem"
      aria-hidden="true">
      
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="ingresarCliente">Agregar Item</h5>
          </div>
          <form method="POST">
            {% csrf_token %} {{ ItemForm.as_p }}
            <button type="submit" class="btn btn-primary" name="submit_item">
              Guardar cambios
            </button>

            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Cerrar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!--End formulario item de  (Modal) -->

    <div class="container-fluid">
      {% block content %}
      <table class="table">
        <thead>
          <tr>
            <th>ID PREVENTA</th>
            <th>NOMBRE PROYECTO</th>
            <th>NOMBRE SOLICITANTE</th>
            <th>FECHA</th>
            <th>CORRELATIVO</th>
            <th>CLIENTE</th>
            <th>AGREGAR INFORMACION</th>
          </tr>
        </thead>
        <tbody>
          {% for preventa in LoadPreventas %}
          <tr>
            <td>{{ preventa.id }}</td>
            <td>{{ preventa.nombre_proyecto}}</td>
            <td>{{ preventa.nombre_solicitante}}</td>
            <td>{{ preventa.fecha }}</td>
            <td>{{ preventa.correlativo }}</td>
            <td>{{ preventa.id_cliente.nombre }}</td>
            <td>
              <a
                href="{% url 'addInfo' preventa.id%}"
                type="button"
                class="btn btn-info"
                >ACCIONES</a
              >
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      {% endblock %}
    </div>

    <footer>
      <p>&copy; 2024 - Todos los derechos reservados</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
